VITE_API_URL=http://localhost:8080
VITE_AUTH_URL=http://localhost:8081
VITE_AWS_BUCKET_NAME=
VITE_AWS_REGION=
VITE_AWS_ACCESS_KEY_ID=
VITE_AWS_SECRET_ACCESS_KEY=
VITE_CHAT_WS_URL=ws://localhost:8085/ws
